@import url('https://fonts.googleapis.com/css2?family=Rammetto+One&display=swap');

html,body{
    width: 100%;
    height: 100%;
    font-family: 'Rammetto One', cursive;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("../images/ambiente-4.png") ;
    background-repeat: no-repeat;
    background-size: cover;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#instruction{
    font-family: Rammetto One;
    font-style: normal;
    font-weight: normal;
    
    font-size: 45px;
    line-height: 93px;

    color: #C2D37E;
    -webkit-text-stroke-width: 3px; /* largura da borda */
    -webkit-text-stroke-color: #0B4502; /* cor da borda */

}